@font-face {
  font-family: "Montserrat-medium";
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "ProstoOne";
  src: url(../fonts/ProstoOne/ProstoOne-Regular.ttf);
}
