@import url(./fonts.css);

:root {
  --primary: #151515;
  --secondary: #282828;
  --light: #ffffff;
  --MB: "Montserrat-Bold";
  --MM: "Montserrat-Medium";
  --ProstoOne: "ProstoOne";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--primary);
}

button {
  border: none;
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  background-color: var(--secondary);
  padding-block: 6px;
}

.header-nav {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.logo {
  width: 100px;
  height: auto;
}

.logo img {
  width: 100%;
}

.header-nav_link {
  color: var(--light);
  font-family: var(--MB);
  font-size: 20px;
}

.user-action {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.user-action_link {
  width: 20px;
  height: auto;
}

.user-action_link img {
  width: 100%;
}

.user-links {
  display: flex;
  column-gap: 30px;
}

.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  display: none;
}

.burger-menu div {
  width: 100%;
  height: 2px;
  background-color: #fff;
  align-self: center;
  position: relative;
}

.burger-menu div::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: -10px;
}

.burger-menu div::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  bottom: -10px;
}

.banner {
  width: 100%;
  height: 635px;
  background-image: url(../image/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover, 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 38px;
}

.banner-title {
  color: var(--light);
  font-family: var(--ProstoOne);
  font-size: 100px;
  line-height: 75px;
  text-transform: capitalize;
}

.banner-link {
  background-color: var(--light);
  padding: 13px 18px 13px 14px;
  color: #171718;
  font-family: var(--MM);
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 11px;
  transition: 0.5s;
}

.banner-link:hover {
  color: var(--light);
  background-color: var(--primary);
}

.products {
  margin-top: 30px;
}

.row {
  display: flex;
  column-gap: 30px;
}

.align-center {
  margin-block: 50px;
  align-items: center;
  justify-content: space-between;
}

.row-desc {
  max-width: 538px;
  width: 100%;
  color: var(--light);
  font-family: var(--MM);
  font-size: 22px;
  font-weight: 500;
}

.mt-1 {
  margin-top: 33px;
}

.position {
  margin-block: 50px 79px;
}

.content-position {
  display: flex;
  align-items: center;
  column-gap: 88px;
}

.left-side-text,
.right-side-text {
  color: var(--light);
  text-align: left;
  font-family: var(--MB);
  font-size: 20px;
  font-weight: 700;
  max-width: 333px;
  width: 100%;
}

.left-side-text {
  text-align: right;
}

.position-image {
  width: 268px;
  position: relative;
}

.position-image::before,
.position-image::after {
  content: "";
  width: 61px;
  height: 1px;
  background: #c4c4c4;
  position: absolute;
}

.position-image::before {
  top: 50%;
  left: -75px;
}

.position-image::after {
  top: 50%;
  right: -75px;
}

.phone-card {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 255px;
  border-radius: 6px;
  padding: 15px;
}

.phone-card_title {
  color: #000;
  font-family: var(--MB);
  font-size: 20px;
}

.phone-card img {
  width: max-content;
}

.phone-card_price {
  color: #000;
  font-family: var(--MM);
  font-size: 14px;
  text-transform: uppercase;
}

.phone-card_btn {
  background-color: var(--primary);
  color: var(--light);
  padding: 7px 57px;
  transition: 0.4s;
  border: 1px solid var(--primary);
}

.phone-card_btn:hover {
  color: var(--primary);
  background-color: var(--light);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.page-footer {
  margin-top: 55px;
  background-color: var(--secondary);
  padding-block: 80px;
}

.page-footer_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.footer-nav {
  display: flex;
  column-gap: 29px;
}
