@media (max-width: 1150px) {
  .phone-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 993px) {
  .banner {
    height: 600px;
  }

  .banner-title {
    font-size: 80px;
  }

  .banner-link {
    font-size: 16px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .align-center {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .row-desc {
    text-align: center;
    max-width: 450px;
    width: 100%;
    font-size: 20px;
  }

  .product-img-1,
  .product-img-2 {
    max-width: 350px;
    width: 100%;
  }

  .content-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .position-image::after,
  .position-image::before {
    display: none;
  }

  .left-side-text,
  .right-side-text {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .header-nav_link {
    font-size: 18px;
  }

  .logo {
    width: 80px;
  }

  .banner {
    row-gap: 30px;
    height: 550px;
  }

  .banner-title {
    font-size: 70px;
  }
}

@media (max-width: 576px) {
  .banner {
    row-gap: 20px;
    height: 500px;
  }

  .banner-title {
    font-size: 50px;
  }

  .banner-link {
    font-size: 14px;
    padding: 10px 13px 10px 13px;
  }

  .footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
  }

  .page-footer {
    padding-block: 25px;
  }
}

@media (max-width: 470px) {
  .header-nav,
  .user-action {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .logo {
    width: 70px;
  }

  .banner {
    height: 450px;
  }

  .banner-title {
    font-size: 40px;
    line-height: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .align-center {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .row-desc {
    text-align: center;
    max-width: 400px;
    width: 100%;
    font-size: 16px;
  }

  .product-img-1,
  .product-img-2 {
    max-width: 300px;
    width: 100%;
  }

  .left-side-text,
  .right-side-text {
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .position-image_img {
    max-width: 250px;
    width: 100%;
  }
}
